@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

/* div {
  border: solid 2px black;
} */

.container {
  display: grid;
  grid-template-columns: 250px minmax(1000px, 100%);
  grid-template-rows: 150px;
  min-height: 100vh;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid rgb(226, 222, 222);
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
  clip-path: inset(0px 0px -10px 0px);
  background-color: rgb(237, 237, 231);
}

.search {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
}

.search input {
  width: 85%;
  border-radius: 15px;
  border: none;
  height: 1.5rem;
  background-color: rgb(214, 225, 241);
  border: solid 1px grey;
}

.search img {
  height: 1.5rem;
  margin-right: 1%;
  opacity: 75%;
}

.avatar img {
  border-radius: 50%;
  width: 75px;
}

.greeting {
  grid-column: 1 / 7;
  grid-row: 2 / 3;
  display: flex;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2%;
  font-weight: bold;
}

#user-handle {
  font-size: 1.5rem;
}

#bell {
  opacity: 75%;
  height: 1.5rem;
}

#small-avatar {
  border-radius: 50%;
  width: 50px;
}

.buttons {
  grid-row: 2 / 3;
  grid-column: 7 / 11;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.button {
  height: 32px;
  width: 95px;
  border-radius: 15px;
  border: none;
  background-color: rgb(223, 125, 33);
  font-weight: bold;
  font-size: 1rem;
}

.top-right {
  grid-column: 7 / 11;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  column-gap: 7%;
}

.top-right p {
  font-weight: bold
}

/*SIDEBAR*/

.sidebar {
  grid-column: 1;
  grid-row: 1 / 3;

  background-color: rgb(223, 125, 33);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px;
  padding-top: 23px;
  padding-left: 10px;
}

.dashboard {
  display: flex;
  align-items: center;
}

.dashboard img {
  opacity: 75%;
  height: 50px;
}

.dashboard p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
}

.upper-links {
  margin-top: 60px;
  margin-left: 10px;
}

.link-list {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.link-list img {
  opacity: 75%;
  width: 25px;
}

.link-list p {
  margin-left: 25px;
  font-weight: bold;
}

#link-break {
  margin-top: 60px;
}

/*MAIN CARD SECTION*/

.card-container {
  display: flex;
  background-color: rgb(232, 229, 226);
  padding-top: 1rem;
}

#card-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.projects {
  width: 68%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-top: 10px;
}

.right-cards {
  width: 32%;
  display: felx;
  flex-direction: column;
}

.announcements {
  margin-top: 10px;
}

.announcements-card {
  padding: 30px;
  background-color: rgb(248, 247, 246);
  border-radius: 10px;
  margin-right: 30px;
}

.announcement {
  margin-bottom: 15px;
  border-bottom: solid 2px grey;
  padding-bottom: 10px;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

.card {
  height: 225px;
  background-color: rgb(248, 247, 246);
  border-radius: 10px;
  padding: 20px;
  border-left: solid 5px rgb(225, 185, 147);
  display: flex; 
  flex-direction: column;
  
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: larger;
}

.icons {
  opacity: 75%;
  height: 20px;
  gap: 10px;
  display: flex;
  margin-left: auto;
  margin-top: auto;
}

.icons img {
  margin-left: auto;
}

.trending-container {
  margin-top: 30px;
}

.trending-card {
  padding: 30px;
  background-color: rgb(248, 247, 246);
  border-radius: 10px;
  margin-right: 30px;
}

.trending-member {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.trending-member img {
  border-radius: 50%;
}

.trending-avatar {
  margin-right: 10px;
}

/*Pointers to give feedback despite no actual links*/
.search input:hover {
  border: solid 2px black;
}

button:hover {
  border: solid 2px black;
  cursor: pointer;
}

.dashboard>p:hover, .link-list>p:hover {
  cursor: pointer;
  color: rgb(42, 41, 41);
}

.icons>img:hover {
  opacity: 60%;
  cursor: pointer;
}

.card:hover, .announcements-card:hover, .trending-card:hover {
  -moz-box-shadow: 0 0 5px 0px rgb(74, 72, 72);
  -webkit-box-shadow: 0 0 5px 0px rgb(74, 72, 72);
  box-shadow: 0 0 5px 0px rgb(74, 72, 72);
}

/*Footer*/

.footer {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(99, 97, 97);
  color: white;
}